# Server-side API URL (Server Components & Server Actions)
API_BASE_URL=http://localhost:3000/api/v1

# Client-side API URL (Client Components & Browser calls)
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1

# Media host for images (used with getImageUrl)
NEXT_PUBLIC_IMAGE_HOST=http://localhost:3000
