# dependencies
node_modules

# build
dist
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# test / coverage
coverage
*.lcov
.nyc_output

# prisma / sqlite
prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# media & uploads
/media/
/uploads/
!src/media/

# logs
*.log
